In [77]:
import pandas as pd
import nose.tools
import numpy as np
from datetime import datetime

# Data Tidying and Cleaning Lab
## Reading, tidying and cleaning data. Preparing data for exploration, mining, analysis and learning

### Problem 1. Read the dataset (2 points)
The dataset [here](http://archive.ics.uci.edu/ml/datasets/Auto+MPG) contains information about fuel consumption in different cars.

Click the "Data Folder" link and read `auto_mpg.data` into Python. You can download it, if you wish, or you can read it directly from the link.

Give meaningful (and "Pythonic") column names, as per the `auto_mpg.names` file:
1. mpg
2. cylinders
3. displacement
4. horsepower
5. weight
6. acceleration
7. model_year
8. origin
9. car_name

In [13]:
mpg_data = pd.read_csv('http://archive.ics.uci.edu/ml/machine-learning-databases/auto-mpg/auto-mpg.data', sep='\s+', header=None)
mpg_data

        0  1      2      3       4     5   6  7                          8
0    18.0  8  307.0  130.0  3504.0  12.0  70  1  chevrolet chevelle malibu
1    15.0  8  350.0  165.0  3693.0  11.5  70  1          buick skylark 320
2    18.0  8  318.0  150.0  3436.0  11.0  70  1         plymouth satellite
3    16.0  8  304.0  150.0  3433.0  12.0  70  1              amc rebel sst
4    17.0  8  302.0  140.0  3449.0  10.5  70  1                ford torino
..    ... ..    ...    ...     ...   ...  .. ..                        ...
393  27.0  4  140.0  86.00  2790.0  15.6  82  1            ford mustang gl
394  44.0  4   97.0  52.00  2130.0  24.6  82  2                  vw pickup
395  32.0  4  135.0  84.00  2295.0  11.6  82  1              dodge rampage
396  28.0  4  120.0  79.00  2625.0  18.6  82  1                ford ranger
397  31.0  4  119.0  82.00  2720.0  19.4  82  1                 chevy s-10

[398 rows x 9 columns]

In [14]:
mpg_data.columns = ['mpg','cylinders','displacement', 'horsepower', 'weight', 'acceleration', 'model_year', 'origin', 'car_name']

In [15]:
mpg_data

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,car_name
0,18.0,8,307.0,130.0,3504.0,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350.0,165.0,3693.0,11.5,70,1,buick skylark 320
2,18.0,8,318.0,150.0,3436.0,11.0,70,1,plymouth satellite
3,16.0,8,304.0,150.0,3433.0,12.0,70,1,amc rebel sst
4,17.0,8,302.0,140.0,3449.0,10.5,70,1,ford torino
...,...,...,...,...,...,...,...,...,...
393,27.0,4,140.0,86.00,2790.0,15.6,82,1,ford mustang gl
394,44.0,4,97.0,52.00,2130.0,24.6,82,2,vw pickup
395,32.0,4,135.0,84.00,2295.0,11.6,82,1,dodge rampage
396,28.0,4,120.0,79.00,2625.0,18.6,82,1,ford ranger
397,31.0,4,119.0,82.00,2720.0,19.4,82,1,chevy s-10

In [17]:
mpg_data.dtypes

mpg             float64
cylinders         int64
displacement    float64
horsepower       object
weight          float64
acceleration    float64
model_year        int64
origin            int64
car_name         object
dtype: object

In [ ]:
nose.tools.assert_is_not_none(mpg_data)

Print the first 4 rows in the dataset to get a feel of what it looks like:

In [16]:
mpg_data.head(4)

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,car_name
0,18.0,8,307.0,130.0,3504.0,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350.0,165.0,3693.0,11.5,70,1,buick skylark 320
2,18.0,8,318.0,150.0,3436.0,11.0,70,1,plymouth satellite
3,16.0,8,304.0,150.0,3433.0,12.0,70,1,amc rebel sst

### Problem 2. Inspect the dataset (1 point)
Write a function which accepts a dataset and returns the number of observations and features in it, like so: 

``` 10 observations on 15 features```

Where 10 and 15 should be replaced with the real numbers. Test your function with the `auto_mpg` dataset.

Make sure the function works with other datasets (don't worry about "1 features" or "1 observations", just leave it as it is).

In [18]:
def observations_and_features(dataset):
    """
    Returns the number of observations and features in the provided dataset
    """
    observations = None
    features = None
    observations, features = dataset.shape
    return "{} observations on {} features".format(observations, features)

In [19]:
print(observations_and_features(mpg_data))

398 observations on 9 features

Inspect the data types for each column.

In [20]:
mpg_data.dtypes

mpg             float64
cylinders         int64
displacement    float64
horsepower       object
weight          float64
acceleration    float64
model_year        int64
origin            int64
car_name         object
dtype: object

### Problem 3. Correct errors (1 point)
The `horsepower` column looks strange. It's a string but it must be a floating-point number. Find out why this is so and convert it to floating-point number.

In [24]:
mpg_data.horsepower

0      130.0
1      165.0
2      150.0
3      150.0
4      140.0
       ...
393    86.00
394    52.00
395    84.00
396    79.00
397    82.00
Name: horsepower, Length: 398, dtype: object

In [25]:
mpg_data.horsepower.unique()

array(['130.0', '165.0', '150.0', '140.0', '198.0', '220.0', '215.0',
       '225.0', '190.0', '170.0', '160.0', '95.00', '97.00', '85.00',
       '88.00', '46.00', '87.00', '90.00', '113.0', '200.0', '210.0',
       '193.0', '?', '100.0', '105.0', '175.0', '153.0', '180.0', '110.0',
       '72.00', '86.00', '70.00', '76.00', '65.00', '69.00', '60.00',
       '80.00', '54.00', '208.0', '155.0', '112.0', '92.00', '145.0',
       '137.0', '158.0', '167.0', '94.00', '107.0', '230.0', '49.00',
       '75.00', '91.00', '122.0', '67.00', '83.00', '78.00', '52.00',
       '61.00', '93.00', '148.0', '129.0', '96.00', '71.00', '98.00',
       '115.0', '53.00', '81.00', '79.00', '120.0', '152.0', '102.0',
       '108.0', '68.00', '58.00', '149.0', '89.00', '63.00', '48.00',
       '66.00', '139.0', '103.0', '125.0', '133.0', '138.0', '135.0',
       '142.0', '77.00', '62.00', '132.0', '84.00', '64.00', '74.00',
       '116.0', '82.00'], dtype=object)

In [29]:
mpg_data.horsepower = mpg_data.horsepower.replace({'?': np.nan})

In [46]:
mpg_data.horsepower.unique()

array([130., 165., 150., 140., 198., 220., 215., 225., 190., 170., 160.,
        95.,  97.,  85.,  88.,  46.,  87.,  90., 113., 200., 210., 193.,
        nan, 100., 105., 175., 153., 180., 110.,  72.,  86.,  70.,  76.,
        65.,  69.,  60.,  80.,  54., 208., 155., 112.,  92., 145., 137.,
       158., 167.,  94., 107., 230.,  49.,  75.,  91., 122.,  67.,  83.,
        78.,  52.,  61.,  93., 148., 129.,  96.,  71.,  98., 115.,  53.,
        81.,  79., 120., 152., 102., 108.,  68.,  58., 149.,  89.,  63.,
        48.,  66., 139., 103., 125., 133., 138., 135., 142.,  77.,  62.,
       132.,  84.,  64.,  74., 116.,  82.])

In [30]:
mpg_data.horsepower = mpg_data.horsepower.astype(np.float64)

In [57]:
mpg_data.head(35)

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,car_name
0,18.0,8,307.0,130.0,3504.0,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350.0,165.0,3693.0,11.5,70,1,buick skylark 320
2,18.0,8,318.0,150.0,3436.0,11.0,70,1,plymouth satellite
3,16.0,8,304.0,150.0,3433.0,12.0,70,1,amc rebel sst
4,17.0,8,302.0,140.0,3449.0,10.5,70,1,ford torino
5,15.0,8,429.0,198.0,4341.0,10.0,70,1,ford galaxie 500
6,14.0,8,454.0,220.0,4354.0,9.0,70,1,chevrolet impala
7,14.0,8,440.0,215.0,4312.0,8.5,70,1,plymouth fury iii
8,14.0,8,455.0,225.0,4425.0,10.0,70,1,pontiac catalina
9,15.0,8,390.0,190.0,3850.0,8.5,70,1,amc ambassador dpl
10,15.0,8,383.0,170.0,3563.0,10.0,70,1,dodge challenger se
11,14.0,8,340.0,160.0,3609.0,8.0,70,1,plymouth 'cuda 340
12,15.0,8,400.0,150.0,3761.0,9.5,70,1,chevrolet monte carlo
13,14.0,8,455.0,225.0,3086.0,10.0,70,1,buick estate wagon (sw)
14,24.0,4,113.0,95.0,2372.0,15.0,70,3,toyota corona mark ii
15,22.0,6,198.0,95.0,2833.0,15.5,70,1,plymouth duster
16,18.0,6,199.0,97.0,2774.0,15.5,70,1,amc hornet
17,21.0,6,200.0,85.0,2587.0,16.0,70,1,ford maverick
18,27.0,4,97.0,88.0,2130.0,14.5,70,3,datsun pl510
19,26.0,4,97.0,46.0,1835.0,20.5,70,2,volkswagen 1131 deluxe sedan
20,25.0,4,110.0,87.0,2672.0,17.5,70,2,peugeot 504
21,24.0,4,107.0,90.0,2430.0,14.5,70,2,audi 100 ls
22,25.0,4,104.0,95.0,2375.0,17.5,70,2,saab 99e
23,26.0,4,121.0,113.0,2234.0,12.5,70,2,bmw 2002
24,21.0,6,199.0,90.0,2648.0,15.0,70,1,amc gremlin
25,10.0,8,360.0,215.0,4615.0,14.0,70,1,ford f250
26,10.0,8,307.0,200.0,4376.0,15.0,70,1,chevy c20
27,11.0,8,318.0,210.0,4382.0,13.5,70,1,dodge d200
28,9.0,8,304.0,193.0,4732.0,18.5,70,1,hi 1200d
29,27.0,4,97.0,88.0,2130.0,14.5,71,3,datsun pl510
30,28.0,4,140.0,90.0,2264.0,15.5,71,1,chevrolet vega 2300
31,25.0,4,113.0,95.0,2228.0,14.0,71,3,toyota corona
32,25.0,4,98.0,NaN,2046.0,19.0,71,1,ford pinto
33,19.0,6,232.0,100.0,2634.0,13.0,71,1,amc gremlin
34,16.0,6,225.0,105.0,3439.0,15.5,71,1,plymouth satellite custom

In [31]:
mpg_data.dtypes

mpg             float64
cylinders         int64
displacement    float64
horsepower      float64
weight          float64
acceleration    float64
model_year        int64
origin            int64
car_name         object
dtype: object

In [ ]:
nose.tools.assert_equal(mpg_data.horsepower.dtype, "float64")

### Problem 4. Missing values: inspection (1 point)
We saw that the `horsepower` column contained null values. Display the rows which contain those values. Assign the resulting dataframe to the `unknown_hp` variable.

In [56]:
mpg_data.loc[mpg_data.horsepower.isnull()]

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,car_name
32,25.0,4,98.0,NaN,2046.0,19.0,71,1,ford pinto
126,21.0,6,200.0,NaN,2875.0,17.0,74,1,ford maverick
330,40.9,4,85.0,NaN,1835.0,17.3,80,2,renault lecar deluxe
336,23.6,4,140.0,NaN,2905.0,14.3,80,1,ford mustang cobra
354,34.5,4,100.0,NaN,2320.0,15.8,81,2,renault 18i
374,23.0,4,151.0,NaN,3035.0,20.5,82,1,amc concord dl

In [58]:
def get_unknown_hp(dataframe):
    """
    Returns the rows in the provided dataframe where the "horsepower" column is NaN
    """
    unknown_hp = dataframe.loc[dataframe.horsepower.isnull()]
    return unknown_hp

In [59]:
cars_with_unknown_hp = get_unknown_hp(mpg_data)
print(cars_with_unknown_hp)

      mpg  cylinders  displacement  horsepower  weight  acceleration  \
32   25.0          4          98.0         NaN  2046.0          19.0
126  21.0          6         200.0         NaN  2875.0          17.0
330  40.9          4          85.0         NaN  1835.0          17.3
336  23.6          4         140.0         NaN  2905.0          14.3
354  34.5          4         100.0         NaN  2320.0          15.8
374  23.0          4         151.0         NaN  3035.0          20.5

     model_year  origin              car_name
32           71       1            ford pinto
126          74       1         ford maverick
330          80       2  renault lecar deluxe
336          80       1    ford mustang cobra
354          81       2           renault 18i
374          82       1        amc concord dl

### Problem 5. Missing data: correction (1 point)
It seems like the `NaN` values are a small fraction of all values. We can try one of several things:
* Remove them
* Replace them (e.g. with the mean power of all cars)
* Look up the models on the internet and try our best guess on the power

The third one is probably the best but the first one will suffice since these records are too few. Remove those values. Save the dataset in the same `mpg_data` variable. Ensure there are no more `NaN`s.

In [61]:
mean_power = mpg_data.horsepower.mean()
mean_power

104.46938775510205

In [67]:
mpg_data.horsepower = mpg_data.horsepower.fillna(mean_power)

In [68]:
mpg_data.horsepower.isnull().values.any()

False

In [69]:
mpg_data.loc[32, 'horsepower']

104.46938775510205

In [70]:
nose.tools.assert_equal(len(get_unknown_hp(mpg_data)), 0)

### Problem 6. Years of production (1 + 1 points)
Display all unique model years. Assign them to the variable `model_years`.

In [73]:
mpg_data.model_year.unique()

array([70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82], dtype=int64)

In [74]:
def get_unique_model_years(dataframe):
    """
    Returns the unique values of the "model_year" column
    of the dataframe
    """
    model_years = dataframe.model_year.unique()
    return model_years

In [75]:
model_years = get_unique_model_years(mpg_data)
print(model_years)

[70 71 72 73 74 75 76 77 78 79 80 81 82]

These don't look so good. Convert them to real years, like `70 -> 1970, 71 -> 1971`. Replace the column values in the dataframe.

In [86]:
mpg_data.model_year = mpg_data.model_year.map({
    70: 1970,
    71: 1971,
    72: 1972,
    73: 1973,
    74: 1974,
    75: 1975,
    76: 1976,
    77: 1977,
    78: 1978,
    79: 1979,
    80: 1980,
    81: 1981,
    82: 1982
})

In [87]:
model_years = get_unique_model_years(mpg_data)
print(model_years)

[1970 1971 1972 1973 1974 1975 1976 1977 1978 1979 1980 1981 1982]

### Problem 7. Exploration: low-power cars (1 point)
The data looks quite good now. Let's try some exploration.

Write a function to find the cars which have the smallest number of cylinders and print their model names. Return a list of car names.

In [91]:
mpg_data.cylinders[mpg_data.cylinders == mpg_data.cylinders.min()].index

Int64Index([71, 111, 243, 334], dtype='int64')

In [92]:
mpg_data.loc[mpg_data.cylinders == mpg_data.cylinders.min()]

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,car_name
71,19.0,3,70.0,97.0,2330.0,13.5,1972,3,mazda rx2 coupe
111,18.0,3,70.0,90.0,2124.0,13.5,1973,3,maxda rx3
243,21.5,3,80.0,110.0,2720.0,13.5,1977,3,mazda rx-4
334,23.7,3,70.0,100.0,2420.0,12.5,1980,3,mazda rx-7 gs

In [96]:
list(mpg_data.car_name[mpg_data.cylinders[mpg_data.cylinders == mpg_data.cylinders.min()].index])

['mazda rx2 coupe', 'maxda rx3', 'mazda rx-4', 'mazda rx-7 gs']

In [101]:
def get_model_names_smallest_cylinders(dataframe):
    """
    Returns the names of the cars with the smallest number of cylinders
    """
    car_names = dataframe.car_name[dataframe.cylinders[dataframe.cylinders == dataframe.cylinders.min()].index]
    
    return car_names

In [102]:
car_names = get_model_names_smallest_cylinders(mpg_data)
print(car_names)
nose.tools.assert_true(car_names.shape == (4,) or car_names.shape == (4, 1))

71     mazda rx2 coupe
111          maxda rx3
243         mazda rx-4
334      mazda rx-7 gs
Name: car_name, dtype: object

### Problem 8. Exploration: correlations (1 point)
Finally, let's see some connections between variables. These are also called **correlations**.

Find how to calculate correlations between different columns using `pandas`.

**Hint:** The correlation function in `pandas` returns a `DataFrame` by default. You need only one value from it.

Create a function which accepts a dataframe and two columns and prints the correlation coefficient between those two columns.

In [103]:
def calculate_correlation(dataframe, first_column, second_column):
    """
    Calculates and returns the correlation coefficient between the two columns in the dataframe.
    """
    correlation = dataframe[first_column]. corr(dataframe[second_column])
    return correlation

In [104]:
hp_weight = calculate_correlation(mpg_data, "horsepower", "weight")
print("Horsepower:Weight correlation coefficient:", hp_weight)
nose.tools.assert_almost_equal(hp_weight, 0.864537737574, delta = 0.01)

Horsepower:Weight correlation coefficient: 0.8605743010090398